{{ partial "header.html" . }}
<div class="article-meta">
    <h1><span class="title">{{ .Title | markdownify }}</span></h1>
    {{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
    {{ if (gt .Params.date 0) }}<h2 class="date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }}
</div>

<p class="post-tag">
    {{ partial "tags.html" .}}
</p>

<main>
    {{ .Content }}
</main>

<p class="post-tag">
    {{ partial "categories.html" .}}
</p>

<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.identifier = '{{with .GetParam "disqus_identifier" }}{{ . }}{{ else }}{{ .Permalink }}{{end}}';
        this.page.title = '{{with .GetParam "disqus_title" }}{{ . }}{{ else }}{{ .Title }}{{end}}';
        this.page.url = '{{with .GetParam "disqus_url" }}{{ . | html  }}{{ else }}{{ .Permalink }}{{end}}';
    };

    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://bazlur-com.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
    Disqus.</a></noscript>

{{ partial "footer.html" . }}
