<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="fb:pages" content="556530934551556" />

    {{ if eq .RelPermalink "/" }}
    <title>{{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:type" content="website">
    {{ else }}
    <title>{{ .Title }}{{ with .Params.subtitle }} - {{ . }} {{ end }} - {{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
    {{ end }}

    <meta name="twitter:card" content="summary">

    {{ with .Description }}
    {{ $.Scratch.Set "summary" (markdownify .) }}
    {{ else }}
    {{ $.Scratch.Set "summary" ((delimit (findRE "(<p.*?>(.|\n)*?</p>\\s*)+" .Content) "[&hellip;] ") | plainify | truncate (default 200 .Site.Params.summary_length) (default " &hellip;" .Site.Params.text.truncated)) }}
    {{ end }}

    {{ if eq .RelPermalink "/" }}
    <meta property="description" content="{{ .Site.Params.description }}">
    {{ else }}
    {{ with ($.Scratch.Get "summary") }}
    <meta property="description" content="{{ . }}">
    <meta property="og:description" content="{{ . }}">
    {{ end }}
    {{ end }}

    {{ range (findRE "<img src=\"https?://[^\"]+" .Content 1) }}
                           {{ $.Scratch.Set "autoImage" true }}
    <meta name="twitter:image" content="{{ replaceRE "<img src=\"" "" . | htmlUnescape }}">
    {{ end }}
    {{ with .Site.Params.twitterImage }}
    {{ if not ($.Scratch.Get "autoImage") }}
    <meta name="twitter:image" content="{{ absURL . }}">
    {{ end }}
    {{ end }}

    {{ if .Keywords }}
    <meta property="keywords" content ="{{ delimit .Keywords ", " }}">
    {{ end }}

    {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
    {{ end }}

    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />

    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/languages/java.min.js"
            integrity="sha512-xEnylOTeZvxUCvtK9Lw3FjOgfCwsMEhUbx6Hant1lPgy+PcynqCm8XfqhpRos6XNaTxeMuT4QyrWyo3U1NijHg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>hljs.initHighlightingOnLoad();</script>


    {{ partial "head_custom.html" . }}

    {{ template "_internal/google_analytics.html" . }}

  </head>

  <body>
    <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <hr/>
    </nav>